/_reference/
/game_exe/
/.analysis/
/build/
/dist/
/out/
/.cache/
/.venv/
/__pycache__/
/**/*.pyc
/.pytest_cache/
/.mypy_cache/
*.rar
*.7z
*.zip
*.hdi
*.exe
*.com
*.obj
*.map
*.gpr
*.rep/
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
*.log
.DS_Store
Thumbs.db
